.button {
  width: 100%;
  font-family: 'Work Sans';
  font-size: 14px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;

  &__wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    border: 2px solid currentColor;
  }

  &__icon {
    margin-right: 10px;
  }

  @media #{$screen-sm} {
    width: initial;
    font-size: 16px;

    &__wrapper {
      padding: 25px;
    }
  }
}
