.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  font-family: 'Work Sans';
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  border: 2px solid currentColor;

  &__icon {
    margin-right: 10px;
  }

  @media #{$screen-sm} {
    width: initial;
    padding: 25px;
    font-size: 16px;
  }
}
