$_button_transition: all .25s ease-in-out;

.button {
  width: 100%;
  font-family: 'Work Sans';
  font-size: 14px;
  font-weight: 600;
  color: $color-white;
  text-transform: uppercase;
  transition: $_button_transition;

  &:hover {
    color: $color-scarlet;
  }

  &:hover &__icon {
    transform: scale(1);
  }

  &__wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    border: 2px solid currentColor;
  }

  &__icon {
    margin-right: 10px;
    transform: scale(.8);
    transition: $_button_transition;
  }

  @media #{$screen-sm} {
    width: initial;
    font-size: 16px;

    &__wrapper {
      padding: 25px;
    }
  }
}
