.hero {
  @include container;

  padding: $header-height--mobile 20px 0;
  color: $color-white;
  background-color: $color-navy;

  &__canvas {
    width: 100%;
    height: 65vh;
    background-color: $color-orange;
  }

  &__title {
    position: absolute;
    top: 45%;
    left: 50%;
    font-family: $title-font-family;
    font-size: 36px;
    transform: translate(-50%, -50%);

    &--lower {
      margin-top: -10px;
      margin-left: 28px;
    }
  }

  &__counter {
    position: absolute;
    top: 25%;
    right: -20px;
    font-size: 24px;
    transform: rotate(-90deg);
  }

  &__button {
    margin-top: 20px;
  }

  &__detail {
    margin: 20px 0 30px;
    font-size: 12px;

    &__city {
      display: block;
    }
  }
}

@media #{$screen-sm} {
  .hero {
    &__title {
      font-size: 80px;

      &--lower {
        margin-top: -40px;
        margin-left: 100px;
      }
    }
  }
}

@media #{$screen-md} {
  .hero {
    padding: $header-height--desktop 50px 0;

    &__canvas {
      width: 60%;
      height: 80vh;
    }

    &__title {
      font-size: 130px;
    }
  }
}

@media #{$screen-lg} {
  .hero {
    &__title {
      font-size: 160px;

      &--lower {
        margin-top: -60px;
        margin-left: 8%;
      }
    }
  }
}
