html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.hero {
  padding: $header-height--mobile 20px 0;
  color: $color-white;
  background-color: $color-navy;

  &__canvas {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 65vh;
    background-color: $color-orange;
  }

  &__header {
    @include heading;

    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 1;
    font-family: $title-font-family;
    font-size: 36px;
    text-align: center;
    transform: translate(-50%, -50%);

    &--upper {
      transform: translate(-35%, 0);
    }

    &--lower {
      transform: translate(12%, -30%);
    }
  }

  &__counter {
    position: absolute;
    top: 25%;
    right: -20px;
    z-index: 1;
    font-size: 24px;
    transform: rotate(-90deg);
  }

  &__button {
    margin-top: 20px;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  &__detail {
    padding: 20px 0 0;
    font-size: 12px;

    &__city {
      display: block;
    }

    &__event {
      margin: 10px 0 0;
    }
  }

  &__scroll {
    margin: 20px auto 0;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    &__text {
      margin-top: 15px;
    }
  }
}

@media #{$screen-sm} {
  .hero {
    &__canvas {
      height: 70vh;
      height: calc(100vh - #{$header-height--desktop * 2});
    }

    &__header {
      top: 50%;
      font-size: 80px;
    }

    &__button {
      order: 2;
    }

    &__bottom {
      align-items: center;
    }

    &__detail {
      padding: 0;

      &__header {
        margin-bottom: 5px;
      }

      &__city {
        display: initial;
      }

      &__event {
        margin: 0;
      }
    }
  }
}

@media #{$screen-md} {
  .hero {
    padding: $header-height--desktop 50px 0;

    &__canvas {
      width: 60%;
    }

    &__header {
      font-size: 130px;

      &--upper {
        transform: translate(-30%, 20%);
      }

      &--lower {
        transform: translate(8%, -20%);
      }
    }

    &__bottom {
      height: $header-height--desktop;
    }

    &__counter {
      top: 30%;
      right: initial;
      left: 70%;
      transform-origin: left center;
    }

    &__button {
      position: absolute;
      top: 70%;
      left: 70%;
      z-index: 1;
    }

    &__scroll {
      position: absolute;
      bottom: 25px;
      left: 50%;
    }
  }
}

@media #{$screen-lg} {
  .hero {
    &__header {
      font-size: 160px;

      &--lower {
        transform: translate(5%, -20%);
      }
    }
  }
}

@media #{$screen-xlg} {
  .hero {
    &__header {
      font-size: 170px;

      &--upper {
        transform: translate(-33%, 20%);
      }

      &--lower {
        transform: translate(12%, -20%);
      }
    }
  }
}
