<section class="section get-involved">
  <div class="get-involved__container">

    <div class="get-involved__content">
      {{> components/heading
        text=getInvolved.header
        class="get-involed__header"
      }}

      <div class="get-involved__description text--medium">
        {{ getInvolved.description }}
      </div>

      {{#each getInvolved.buttons as |button|}}
        {{> components/button
          class="get-involved__button"
          outlineColor="#fff"
          label=button.label
          icon=(svg button.icon)
        }}
      {{/each}}
    </div>

    <div class="get-involved__details">
      <div class="get-involved__counter">
        {{ getInvolved.counter }}
      </div>

      <div class="get-involved__details-title text--small">
        {{ getInvolved.details.title }}
      </div>

      <div>
        <ul>
          {{#each getInvolved.details.list as |listItem|}}
            <li>{{ listItem }}</li>
          {{/each}}
        </ul>
      </div>

    </div>

  </div>
</section>
