<header class="header js-scroll-header">
  <div class="header__container">
    <a  href="{{data.rootUrl}}" title="artproject">
      <img class="header-logo" src="../../../images/artproject.png" />
    </a>
    <span class="header-logo__subtitle">
        {{svg 'images/logo.svg'}}
    </span>

    {{> components/nav}}

    {{> components/burger-button class="header__btn"}}
  </div>
</header>
