<header class="header">
  <div class="header__container">
    <a class="header-logo" href="{{data.rootUrl}}" title="artproject">
      <img class="header-logo__img" src="/logo.svg" alt="artproject">
    </a>

    {{> components/nav parentRouteName=parentRouteName}}

    {{> components/burger-button class="header__btn"}}
  </div>
</header>
