<section class="section hero">
  <div class="hero__canvas"></div>
  <h1 class="hero__title">
    <div class="hero__title--upper">#ART</div>
    <div class="hero__title--lower">PROJECT.</div>
  </h1>

  {{> components/button
    label="Telegram Community"
    outlineColor="#FFF"
    class="hero__button"
    icon=(svg 'images/telegram-logo.svg' width="24px" height="24px")
  }}

  <div class="hero__counter">01 - 06</div>

  <div class="hero__detail">
    <h3 class="hero__detail__title">UPCOMING EVENTS</h3>
    {{#each data.heroSection.events as |event|}}
      <p class="hero__detail__event">
        {{ event.text }},
        <strong class="hero__detail__city">{{ event.city }}</strong>
      </p>
    {{/each}}
  </div>

  <!-- scroll down component -->

  <!-- page counter component -->

</section>
