<section class="section introduction">
  <div class="introduction__container">

    {{> components/heading
      text=introduction.header
      class="introduction__header"
    }}

    <div class="introduction__subheader text--medium">
      {{introduction.subheader}}
    </div>

    <div class="introduction__content">
      <div class="introduction__paragraph text--small">
        {{#each introduction.content as |paragraph|}}
          <p>{{paragraph}}</p>
        {{/each}}
      </div>

      <div class="introduction__img">
        {{svg 'images/introduction.svg' }}
      </div>
    </div>

    <div class="introduction__button">
      {{> components/button
        label=introduction.button.label
        outlineColor="#FFF"
        backgroundColor="#000"
      }}
    </div>

    <div class="introduction__link">
      <a href="#project">
        {{introduction.nextSectionLink}}
      </a>
    </div>
  </div>
</section>
