<div class="profile">
  <!-- profile image -->
  <h6>
    {{#if profile.location }}
      {{ profile.location }}
    {{else}}
      undisclosed
    {{/if}}
  </h6>
  <h3>{{ profile.name }}</h3>
</div>
