<section class="section project">
  {{> components/button
    label="Signup for newsletter"
    outlineColor="#FFF"
    backgroundColor="#000"
    icon=(svg 'images/telegram-logo.svg' width="24px" height="24px")
  }}
</section>
