<section class="section structure" {{#if structure.id}} id="{{structure.id}}" {{/if}}>
  <div class="structure__container">
    <div class="structure__content">
      {{> components/heading
        text=structure.header
        class="structure__header"
      }}

      <div class="structure__image"></div>

      {{> components/button
        label=structure.button.label
        class="structure__button"
        backgroundColor="#000"
        icon=(svg structure.button.icon)
      }}
    </div>

    <div class="structure__details">
      <div class="text--small">
        {{#each structure.content.upper as |paragraph|}}
          <p>{{paragraph}}</p>
        {{/each}}
      </div>
      <div class="text--large">
        {{#each structure.content.lower as |paragraph|}}
          <p>{{paragraph}}</p>
        {{/each}}
      </div>

      <div class="structure__counter">
        {{ structure.counterText }}
      </div>

      {{> components/next-section-link
        class="structure__link"
        nextSection=structure.nextSectionLink
      }}
    </div>
  </div>
</section>
