<footer class="footer">
  <ul class="footer__list">
    {{#each data.footer.links as |link|}}
      <li class="footer__list-item">
        <a class="footer__link" href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {{/each}}
  </ul>
  <div class="footer__attribution">
    <span>Designed by:</span>
    <strong>EMPIRE</strong>
  </div>
</footer>
