$color-white: #fff;
$color-orange: #ff5301;
$color-scarlet: #ff3a00;
$color-gray: #181818;
$color-black: #000;

$color-fuchsia-pink: #ca4eca;
$color-fuchsia-blue:#694ac9;
$color-citron: #94ac20;
$color-scampi: #5761aa;
$color-corn: #e4c102;
$color-red: #ef2f00;
$color-turquoise: #6eccce;
$color-tangerine: #e78d01;
